{%extends 'base.html'%}
{% load static %}
{%block content %}



 <div class="block-31" style="position: relative;">
    <div class="owl-carousel loop-block-31 ">
      <div class="block-30 block-30-sm item" style="background-image: url('{% static 'images/image13.jpg' %}');" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center">
              <h2 class="heading">About Us  :  Water for livelihood, Water for all</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="site-section mb-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12 mb-5">
                <img src="{% static 'images/image7.PNG' %}" alt="Image placeholder" class="img-fluid">
            </div>
            <div class="col-md-6">
                <p>Centre for Aquatic livelihood Jaljeevika is a registered not-for-profit organisation 
                    under section (8) company act.</p>
                <p>India is the second-largest fish producing nation in the world.Fisheries is a sunrise 
                    sector with varied natural resources and potential.In India, this sector engages over 
                    14.50 million people as primary producers and millions more along the value chain. 
                    Transformation of the fisheries sector from traditional to commercial scale has led to 
                    an increase in fish production from 0.75 Million Metric tonnes in 1950-51 to 12.61 
                    Million Metric tonnes during 2017-18 with a contribution of 8.92 MMT from the 
                    inland sector and 3.69 MMT from the marine sector.</p>     
            </div>
            <div class="col-md-6">
                <p>The priority for small-scale fisheries must be to secure and improve the benefits they 
                    provide by increasing their resilience to ecological, social and economic change.
                    Challenges about the livelihoods of the fishing community, the sustainability of inland 
                    fisheries and sustainability of the aquatic resources on which they depend also need 
                    to be built up.</p>
                <p>We are committed to the promotion of aquatic livelihood through better resource management, 
                    institution building, technology transfer, access to credit, inputs, markets and support 
                    in developing end to end value chains towards enhancing livelihood opportunities, 
                    securing food and nutritional security in rural India.It’s an effort to bring all the 
                    stakeholders, CBO’s, local organizations, technical experts, policy analysis and 
                    advocacy groups, natural resource management and livelihood supporting agencies 
                    together to bring best values of institution development towards the promotion of 
                    small scale fishery and aquatic livelihood. We add greater value to our partners’ 
                    efforts through our capacity to synthesize and integrate knowledge at local, 
                    national and regional levels.</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12 mb-5 text-center mt-5">
                <h2>Our Team</h2>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="{% static 'images/person1.PNG' %}" alt="Image placeholder">
                            <h3 class="block-38-heading">Neelkannth Mishra</h3>
                            <p class="block-38-subheading">CEO & Founder</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="{% static 'images/person2.PNG' %}" alt="Image placeholder">
                            <h3 class="block-38-heading">Ranjit Ambastha</h3>
                            <p class="block-38-subheading">Director & Founder</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="{% static 'images/person3.PNG' %}" alt="Image placeholder">
                            <h3 class="block-38-heading">Devanand Londhe</h3>
                            <p class="block-38-subheading">Director & Founder</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--<div class="site-section">
    <div class="container">
        <div class="block-31 mb-5" style="position: relative;">
            <div class="owl-carousel loop-block-31">
                <div class="block-30 no-overlay item" style="background-image: url('images/bg_2.jpg');"></div>
                <div class="block-30 no-overlay item" style="background-image: url('images/bg_1.jpg');"></div>
                <div class="block-30 no-overlay item" style="background-image: url('images/bg_3.jpg');"></div>
            </div>
        </div>
    </div>
</div>-->

<div class="site-section">
    <div class="container">
        <div class="row">
           
            <div class="col-md-6">
                <div class="media block-6">
                    <div class="icon"><span class="flaticon-people"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Our Vision</h3>
                        <p>"Enhancing human capability and ensuring wellbeing through knowledge transfer, empowerment and collective process."</p>
                        <p> We believe in an evolving process to facilitate and nurture Everyone as a Changemaker. 
                            We dream to create an equal, gender-just, ecologically balanced and sustainable community 
                            through creating knowledge and institutions.
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="media block-6">
                    <div class="icon"><span class="flaticon-people"></span></div>
                    <div class="media-body">
                        <h3 class="heading">What We Do</h3>
                        <p>Jaljeevika works with socially and economically weaker section, small - marginal farmers and 
                            socially marginalized groups through integrated livelihood approach to establish a culture of 
                            collective value chain development across aquatic livelihood segment.</p>
                        <p> Training small and seasonal pond owners, fish farmers through our AquaEDP model, building 
                            the innovative, resilient blue economy, serving over 20,000 farming families across India.</p>
                        <p>  Promoting women as farmers in the fisheries sector, in reducing their vulnerability 
                            to livelihood risk, ensuring food and nutritional security; covering 4000+ women fish 
                            farmers and fish vendors.</p>
                        <p>  Facilitating micro enterprise through the utilisation of small and seasonal ponds, 
                            technology transfer to erect cages using local materials in reservoirs and low-cost recirculatory 
                            system to establish ecosystem-based, covering 700+ fisherfolk.</p>
                        <p>  Building collective process and integrate institutional governance models to cultivate business 
                            acumen among fisheries collectives, covering 130+ fisheries cooperatives and groups.
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-12">
            <div class="media block-6">
                <div class="icon"><span class="flaticon-people"></span></div>
                <div class="media-body">
                    <h3 class="heading">Our Mission</h3>
                    <!-- <img src="{% static 'images/image12.PNG' %}" alt="Image placeholder"> -->
                    <p>"Reduce vulnerability, build resilience and empower the community through strengthening aquatic-based livelihood opportunities."</p>
                    <p> Jaljeevika transforms lives by improving access to knowledge, institutions and markets
                         in the poorest communities to establish a water-based livelihood portfolio. 
                         We work with local partners, community-based institutions and the private sector to
                        maximize our impact.</p>
                    <p>During the last two decades,there has been a shift from capture fisheries to 
                         aquaculture. In India, the vast inland resources comprise more than 7 million Ha of the 
                         varied typology of water bodies. So far about 1 Million Ha of water area has been 
                         brought under fish production, there is scope to bring more than 5 million ha of water 
                         area for fish production. Bringing all potential water bodies for fish production will 
                         increase production to the manifold and has the potential to create millions more employment 
                         in this sector.
                    </p>
                    <img src="{% static 'images/image8.PNG' %}" style="max-width: 90%;" alt="Image placeholder">
                </div>
            </div>
        </div>

    </div>
</div> <!-- .site-section -->

{%endblock%}