<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <title>Untitled</title>
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/b2.css" rel="stylesheet">
    <link href="assets/css/b1.css" rel="stylesheet">
    <link href="assets/css/register.css" rel="stylesheet">
    <link href="assets/css/styles.css" rel="stylesheet">
</head>

<body>
<div class="row register-form">
    <div class="col-md-8 offset-md-2">
        <form class="custom-form">
            <h1>Forum</h1>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column">
                    <label class="col-form-label" for="name-input-field">Name </label>
                </div>
                <div class="col-sm-6 input-column">
                    <input class="form-control" type="text">
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column">
                    <label class="col-form-label" for="dropdown-input-field">FPO</label>
                </div>
                <div class="col-sm-4 input-column">
                    <div class="dropdown">
                        <button aria-expanded="false" class="btn btn-light dropdown-toggle" data-toggle="dropdown"
                                type="button">Select FPO
                        </button>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" href="#" role="presentation">FPO1</a><a class="dropdown-item" href="#" role="presentation">FPO2</a><a
                                class="dropdown-item" href="#" role="presentation">FPO3</a></div>
                    </div>
                </div>
                <div></div>
            </div>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column">
                    <label class="col-form-label" for="dropdown-input-field">Query</label>
                </div>
                <div class="col-sm-6 input-column">

                    <textarea class="form-control"></textarea>
                </div>
            </div>
            <button class="btn btn-light submit-button" type="button">Post</button>

        </form>
    </div>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>