<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>FPO Dashboard</title>
  <link rel="stylesheet" href="../static/assets_fpo/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="../static/assets_fpo/fonts/fontawesome-all.min.css">
</head>

<body id="page-top">
<div id="wrapper">
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <div class="container-fluid">
        <h3 class="text-dark mb-4"><strong>FPO Dashboard</strong></h3>
        <div class="row mb-3">
          <div class="col-lg-4">
            <div class="card mb-3">
              <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="../static/assets_fpo/img/image2.jpeg" width="160" height="160">
                <div class="mb-3"></div>
              </div>
            </div>
            <div class="card shadow mb-4"></div>
          </div>
          <div class="col-lg-8">
            <div class="row">
              <div class="col">
                <div class="card shadow mb-3">
                  <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">FPO Information</p>
                  </div>
                  <div class="card-body">
                    <form>
                      <div class="form-row">
                        <div class="col">
                          <div class="form-group"><label for="username"><strong>Name</strong></label><input type="text" class="form-control" placeholder="Name" name="name" /></div>
                        </div>
                        <div class="col">
                          <div class="form-group"><label for="email"><strong>Email Address</strong></label><input class="form-control" type="email" placeholder="user@example.com" name="email"></div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col">
                          <div class="form-group"><label for="first_name"><strong>Contact Number</strong></label><input type="text" class="form-control" placeholder="+910000000000" name="contact_number" /></div>
                        </div>
                        <div class="col">
                          <div class="form-group"><label for="last_name"><strong>Location</strong></label><input type="text" class="form-control" placeholder="e.g. Pune" name="location" /></div>
                        </div>
                      </div>
                      <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">OK</button></div>
                    </form>
                  </div>
                </div>
                <div class="card shadow"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="bg-white sticky-footer">
      <div class="container my-auto">
        <div class="text-center my-auto copyright"><span>Copyright © JalJeevika 2020</span></div>
      </div>
    </footer>
  </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
<script src="../static/assets_fpo/js/jquery.min.js"></script>
<script src="../static/assets_fpo/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
<script src="../static/assets_fpo/js/theme.js"></script>
</body>

</html>

