{%extends 'base.html'%}
{% load static %}


{%block content %}
 <div class="block-31" style="position: relative;">
    <div class="owl-carousel loop-block-31 ">
      <div class="block-30 block-30-sm item" style="background-image: url('images/bg_2.jpg');" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center">
              <h2 class="heading">Find the Interesting Images of Our Work</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
              <div class="post-entry mb-5">
                  <a href="http://sfacindia.com/UploadFile/Statistics/Farmer%20Producer%20Organizations%20Scheme.pdf" target="_blank" class="mb-3 img-wrap">
                      <img src="images/img_4.jpg" alt="Image placeholder" class="img-fluid">
                  </a>
                  <h3><a href="http://sfacindia.com/UploadFile/Statistics/Farmer%20Producer%20Organizations%20Scheme.pdf" target="_blank">test new grid integration</a></h3>
                  <p>Test new grid integration</p>
                  <p><a href="http://sfacindia.com/UploadFile/Statistics/Farmer%20Producer%20Organizations%20Scheme.pdf" target="_blank">Read More</a></p>
              </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                          <div class="post-entry mb-5">
                              <a href="http://sfacindia.com/UploadFile/Statistics/Farmer%20Producer%20Organizations%20Scheme.pdf" target="_blank" class="mb-3 img-wrap">
                                  <img src="images/img_4.jpg" alt="Image placeholder" class="img-fluid">
                              </a>
                              <h3><a href="http://sfacindia.com/UploadFile/Statistics/Farmer%20Producer%20Organizations%20Scheme.pdf" target="_blank">test new grid integration</a></h3>
                              <p>Test new grid integration</p>
                              <p><a href="http://sfacindia.com/UploadFile/Statistics/Farmer%20Producer%20Organizations%20Scheme.pdf" target="_blank">Read More</a></p>
                          </div>
                      </div>
                      <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                                      <div class="post-entry mb-5">
                                          <a href="http://sfacindia.com/UploadFile/Statistics/Farmer%20Producer%20Organizations%20Scheme.pdf" target="_blank" class="mb-3 img-wrap">
                                              <img src="images/img_4.jpg" alt="Image placeholder" class="img-fluid">
                                          </a>
                                          <h3><a href="http://sfacindia.com/UploadFile/Statistics/Farmer%20Producer%20Organizations%20Scheme.pdf" target="_blank">test new grid integration</a></h3>
                                          <p>Test new grid integration</p>
                                          <p><a href="http://sfacindia.com/UploadFile/Statistics/Farmer%20Producer%20Organizations%20Scheme.pdf" target="_blank">Read More</a></p>
                                      </div>
                                  </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="post-entry mb-5">
                    <a href="knowledgehubpost.html" class="mb-3 img-wrap">
                        <img src="images/img_5.jpg" alt="Image placeholder" class="img-fluid">
                        <span class="date">July 26, 2018</span>
                    </a>
                    <h3><a href="knowledgehubpost.html">25,000 Trained To Fish ‘Inland’: How One Jharkhand Man Created a
                            Food Revolution</a></h3>
                    <p>Through Jaljeevika, we have taught fish farmers how to make fishing tools and equipment with
                        minimum investments</p>
                    <p><a href="knowledgehubpost.html">Read More</a></p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="post-entry mb-5">
                    <a href="knowledgehubpost.html" class="mb-3 img-wrap">
                        <img src="images/img_6.jpg" alt="Image placeholder" class="img-fluid">
                        <span class="date">July 26, 2018</span>
                    </a>
                    <h3><a href="knowledgehubpost.html">Test Category</a></h3>
                    <p>Test category</p>
                    <p><a href="knowledgehubpost.html">Read More</a></p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="post-entry mb-5">
                    <a href="knowledgehubpost.html" class="mb-3 img-wrap">
                        <img src="images/img_4.jpg" alt="Image placeholder" class="img-fluid">
                        <span class="date">July 26, 2018</span>
                    </a>
                    <h3><a href="knowledgehubpost.html">They transform the lives of the marginalised</a></h3>
                    <p>CAL — Jaljeevika, a Pune-based NGO, offers alternative business avenues to agriculture-dependent
                        small and marginal farmers.</p>
                    <p><a href="knowledgehubpost.html">Read More</a></p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="post-entry mb-5">
                    <a href="knowledgehubpost.html" class="mb-3 img-wrap">
                        <img src="images/img_5.jpg" alt="Image placeholder" class="img-fluid">
                        <span class="date">July 26, 2018</span>
                    </a>
                    <h3><a href="knowledgehubpost.html">Meet the social entrepreneur who is revolutionising the Indian
                            inland fisheries industry</a></h3>
                    <p>To date, Jaljeevika has been creating employment for over 5000 people across India every year
                        and, in the process, economically empowered many vulnerable farming communities.</p>
                    <p><a href="knowledgehubpost.html">Read More</a></p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="post-entry mb-5">
                    <a href="knowledgehubpost.html" class="mb-3 img-wrap">
                        <img src="images/img_6.jpg" alt="Image placeholder" class="img-fluid">
                        <span class="date">July 26, 2018</span>
                    </a>
                    <h3><a href="knowledgehubpost.html">Jaljeevika Is Revolutionizing Inland Fisheries And Generating
                            Jobs For The Poor</a></h3>
                    <p>Ever wondered how the smoking fish tikka ended up on your plate?</p>
                    <p><a href="knowledgehubpost.html">Read More</a></p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="post-entry mb-5">
                    <a href="knowledgehubpost.html" class="mb-3 img-wrap">
                        <img src="images/img_4.jpg" alt="Image placeholder" class="img-fluid">
                        <span class="date">July 26, 2018</span>
                    </a>
                    <h3><a href="knowledgehubpost.html">Tribal women in a remote village in Andhra Pradesh have found a
                            solution to their poverty in inland fisheries.</a></h3>
                    <p>In Vizianagaram district’s Pachipenta Mandal, near the state’s border with Odisha, lies the
                        nondescript Kodikallavalasa village.</p>
                    <p><a href="knowledgehubpost.html">Read More</a></p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="post-entry mb-5">
                    <a href="knowledgehubpost.html" class="mb-3 img-wrap">
                        <img src="images/img_5.jpg" alt="Image placeholder" class="img-fluid">
                        <span class="date">July 26, 2018</span>
                    </a>
                    <h3><a href="knowledgehubpost.html">How Andhra Fisherfolk Netted Gains From Inland Fisheries</a>
                    </h3>
                    <p>A growing population and increased fish consumption have put a burden on the seas.</p>
                    <p><a href="knowledgehubpost.html">Read More</a></p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="post-entry mb-5">
                    <a href="knowledgehubpost.html" class="mb-3 img-wrap">
                        <img src="images/img_6.jpg" alt="Image placeholder" class="img-fluid">
                        <span class="date">July 26, 2018</span>
                    </a>
                    <h3><a href="knowledgehubpost.html">Employing Thousands Landless Farmers,This man Revolutionized
                            Inland Fishery</a></h3>
                    <p>The story is not limited to a kitchen and some condiments; it intricately laces the sweat, dreams
                        and aspirations of hundreds of men and women whose lives depend on how much you enjoy your fish
                        delicacy.</p>
                    <p><a href="knowledgehubpost.html">Read More</a></p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- .site-section -->
{%endblock%}
