{%extends 'base.html'%}
{% load static %}


{%block content %}
<div class="block-31" style="position: relative;">
    <div class="owl-carousel loop-block-31 ">
        <div class="block-30 block-30-sm item" style="background-image: url('images/bg_2.jpg');"
            data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7 text-center">
                        <h2 class="heading">Find the Interesting Images of Our Work</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="post-entry mb-5" style="border: solid black 1px; border-radius: 5%; margin: 10px; padding: 3%;">
                    <a href="http://sfacindia.com/UploadFile/Statistics/Farmer%20Producer%20Organizations%20Scheme.pdf"
                        target="_blank" class="mb-3 img-wrap">
                        <img src="{% static 'images/image1.PNG' %}" alt="Image placeholder" class="img-fluid">
                    </a>
                    <h3><a href="http://sfacindia.com/UploadFile/Statistics/Farmer%20Producer%20Organizations%20Scheme.pdf"
                            target="_blank">FPO Scheme Guidelines</a></h3>
                    <!-- <p>Test new grid integration</p> -->
                    <p><a href="http://sfacindia.com/UploadFile/Statistics/Farmer%20Producer%20Organizations%20Scheme.pdf"
                            target="_blank">Read More</a></p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="post-entry mb-5" style="border: solid black 1px; border-radius: 5%; margin: 10px; padding: 3%;">
                    <a target="_blank" class="mb-3 img-wrap" data-toggle="collapse" href="#collapseExample"
                        role="button" aria-expanded="false" aria-controls="collapseExample">
                        <!-- <img src="images/img_4.jpg" alt="Image placeholder" class="img-fluid"> -->
                    </a>
                    <h3><a target="_blank" data-toggle="collapse" href="#collapseExample" role="button"
                            aria-expanded="false" aria-controls="collapseExample">State Level Consortium of Farmer
                            Producer Organizations</a></h3>
                    <p>Aggregating producers into collectives is universally accepted as one of the most effective means
                        of reducing the risk in agriculture and improving the access of small and marginal producers to
                        investments, technology and markets.</p>
                    <p><a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                            aria-controls="collapseExample" target="_blank">Read More</a></p>
                </div>
            </div>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    Aggregating producers into collectives is universally accepted as one of the most effective
                    means of reducing the risk in agriculture and improving the access of small and marginal
                    producers to investments, technology and markets.
                    <br><br>
                    Several thousand Farmer Producer Organisations (FPOs) exist across the country, registered
                    under various statutes such as the Cooperative Laws, Trusts, and Federations and lately
                    under the Companies Act as Producer Companies. However, the vast majority of FPOs continue
                    to struggle to establish viable and sustainable business models and achieve significant
                    revenues and returns to their members.
                    <br><br>
                    As part of SFAC’s mission to link small farmers to technology as well as to the markets in
                    association with private, corporate or cooperative sector and if necessary, by providing
                    backward and forward linkages, an initiative has been taken to establish State Level
                    Federations of FPOs to create a State level umbrella support for the member FPOs.
                    <br><br>
                    These federations exists under the statutes of Companies Act as Producer Companies and are
                    seen as an effective solution to the challenge of:
                    <br><br>
                    a. Achieving better coordination among FPOs, <br>
                    b. Enable them to enter into policy dialogue with the State and Central agencies, <br>
                    c. Access services and inputs from Government and private agencies, <br>
                    d. Increase capacity in cost effective manner, <br>
                    e. Seek credit from financial institutions. <br>
                    f. leverage opportunities in agribusiness. <br> <br>
                    In the first phase, 8 such State Level Producer Companies (SLPCs) are supported in the
                    States of Madhya Pradesh, Rajasthan, Maharashtra, Gujarat, Tamil Nadu, Uttar Pradesh,
                    Telangana and West Bengal. <br>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" >
                <div class="post-entry mb-5" style="border: solid black 1px; border-radius: 5%; margin: 10px; padding: 3%;">
                    <a href="http://sfacindia.com/UploadFile/Statistics/State%20wise%20summary%20of%20registered%20and%20the%20process%20of%20registration%20FPOs%20promoted%20by%20SFAC%20(as%20on%2030%20June,%202020).pdf?var=9958258.25855"
                        target="_blank" class="mb-3 img-wrap">
                        <img src="{% static 'images/image1.PNG' %}" alt="Image placeholder" class="img-fluid">
                    </a>
                    <h3><a href="http://sfacindia.com/UploadFile/Statistics/State%20wise%20summary%20of%20registered%20and%20the%20process%20of%20registration%20FPOs%20promoted%20by%20SFAC%20(as%20on%2030%20June,%202020).pdf?var=9958258.25855"
                            target="_blank">State wise list of Farmer Producer Organizations</a></h3>
                    <!-- <p>Test new grid integration</p> -->
                    <p><a href="http://sfacindia.com/UploadFile/Statistics/State%20wise%20summary%20of%20registered%20and%20the%20process%20of%20registration%20FPOs%20promoted%20by%20SFAC%20(as%20on%2030%20June,%202020).pdf?var=9958258.25855"
                            target="_blank">Read More</a></p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="post-entry mb-5" style="border: solid black 1px; border-radius: 5%; margin: 10px; padding: 3%;">
                    <a href="knowledgehubpost.html" class="mb-3 img-wrap">
                        <img src="{% static 'images/image1.PNG' %}" alt="Image placeholder" class="img-fluid">
                    </a>
                    <h3><a href="knowledgehubpost.html">25,000 Trained To Fish ‘Inland’: How One Jharkhand Man Created a
                            Food Revolution</a></h3>
                    <p>Through Jaljeevika, we have taught fish farmers how to make fishing tools and equipment with
                        minimum investments</p>
                    <p><a href="knowledgehubpost.html">Read More</a></p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="post-entry mb-5" style="border: solid black 1px; border-radius: 5%; margin: 10px; padding: 3%;">
                    <iframe style="margin: 3%;" src="https://www.youtube.com/embed/cOH6oHK-0tc?controls=0" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="post-entry mb-5" style="border: solid black 1px; border-radius: 5%; margin: 10px; padding: 3%;">
                    <iframe style="margin: 3%;" src="https://www.youtube.com/embed/cOH6oHK-0tc?controls=0" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="post-entry mb-5" style="border: solid black 1px; border-radius: 5%; margin: 10px; padding: 3%;">
                    <a href="knowledgehubpost.html" class="mb-3 img-wrap">
                        <img src="{% static 'images/image1.PNG' %}" alt="Image placeholder" class="img-fluid">
                    </a>
                    <h3><a href="knowledgehubpost.html">They transform the lives of the marginalised</a></h3>
                    <p>CAL — Jaljeevika, a Pune-based NGO, offers alternative business avenues to agriculture-dependent
                        small and marginal farmers.</p>
                    <p><a href="knowledgehubpost.html">Read More</a></p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="post-entry mb-5" style="border: solid black 1px; border-radius: 5%; margin: 10px; padding: 3%;">
                    <a href="knowledgehubpost.html" class="mb-3 img-wrap">
                        <img src="{% static 'images/image1.PNG' %}" alt="Image placeholder" class="img-fluid">
                    </a>
                    <h3><a href="knowledgehubpost.html">Meet the social entrepreneur who is revolutionising the Indian
                            inland fisheries industry</a></h3>
                    <p>To date, Jaljeevika has been creating employment for over 5000 people across India every year
                        and, in the process, economically empowered many vulnerable farming communities.</p>
                    <p><a href="knowledgehubpost.html">Read More</a></p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="post-entry mb-5" style="border: solid black 1px; border-radius: 5%; margin: 10px; padding: 3%;">
                    <a href="knowledgehubpost.html" class="mb-3 img-wrap">
                        <img src="{% static 'images/image1.PNG' %}" alt="Image placeholder" class="img-fluid">
                    </a>
                    <h3><a href="knowledgehubpost.html">Jaljeevika Is Revolutionizing Inland Fisheries And Generating
                            Jobs For The Poor</a></h3>
                    <p>Ever wondered how the smoking fish tikka ended up on your plate?</p>
                    <p><a href="knowledgehubpost.html">Read More</a></p>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="post-entry mb-5" style="border: solid black 1px; border-radius: 5%; margin: 10px; padding: 3%;">
                    <a href="knowledgehubpost.html" class="mb-3 img-wrap">
                        <img src="{% static 'images/image1.PNG' %}" alt="Image placeholder" class="img-fluid">
                    </a>
                    <h3><a href="knowledgehubpost.html">Tribal women in a remote village in Andhra Pradesh have found a
                            solution to their poverty in inland fisheries.</a></h3>
                    <p>In Vizianagaram district’s Pachipenta Mandal, near the state’s border with Odisha, lies the
                        nondescript Kodikallavalasa village.</p>
                    <p><a href="knowledgehubpost.html">Read More</a></p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="post-entry mb-5" style="border: solid black 1px; border-radius: 5%; margin: 10px; padding: 3%;">
                    <a href="knowledgehubpost.html" class="mb-3 img-wrap">
                        <img src="{% static 'images/image1.PNG' %}" alt="Image placeholder" class="img-fluid">
                    </a>
                    <h3><a href="knowledgehubpost.html">How Andhra Fisherfolk Netted Gains From Inland Fisheries</a>
                    </h3>
                    <p>A growing population and increased fish consumption have put a burden on the seas.</p>
                    <p><a href="knowledgehubpost.html">Read More</a></p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="post-entry mb-5" style="border: solid black 1px; border-radius: 5%; margin: 10px; padding: 3%;">
                    <a href="knowledgehubpost.html" class="mb-3 img-wrap">
                        <img src="{% static 'images/image1.PNG' %}" alt="Image placeholder" class="img-fluid">
                    </a>
                    <h3><a href="knowledgehubpost.html">Employing Thousands Landless Farmers,This man Revolutionized
                            Inland Fishery</a></h3>
                    <p>The story is not limited to a kitchen and some condiments; it intricately laces the sweat, dreams
                        and aspirations of hundreds of men and women whose lives depend on how much you enjoy your fish
                        delicacy.</p>
                    <p><a href="knowledgehubpost.html">Read More</a></p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- .site-section -->
{%endblock%}