{%extends 'base.html'%}
{% load static %}
{%block title%}

Products page

{%endblock%}


{%block content%}
 <div class="block-31" style="position: relative;">
    <div class="owl-carousel loop-block-31 ">
      <div class="block-30 block-30-sm item" style="background-image: url('images/bg_2.jpg');" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center">
              <h2 class="heading">Find the Interesting Images of Our Work</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<br>
<div class="container row col-lg-12 col-sm-4">
{% for i in products %}
<div class="card col-lg-6" >
  <img  class="card-img-top" src="{{ i.res.url }}" alt="Card image">
  
  <div class="card-body">

    <h5>Product Name:</h5><p class="card-title">{{ i.productname }}</p>
    <h5>Product Description:</h5><p class="card-text">{{ i.description }}</p>
    <h5>Product quantity:</h5><p class="card-text">{{ i.quantity }}</p>
    <h5>Product price:</h5><p class="card-text">{{ i.price }}</p>
    <h5>FPO Name:</h5><p class="card-text">{{ i.FPO.fponame }}</p>
    <h5>FPO mobile:</h5><p class="card-text">{{ i.FPO.phone }}</p>
    <h5>FPO email:</h5><p class="card-text">{{ i.FPO.email }}</p>
    


  </div>
</div>

{% endfor %}
</div>
 

{%endblock%}
<!--{%block head%}
<style>
.card-img-top {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}
</style>
{%endblock%}-->